body {
    background-color: salmon;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    color: darkblue;
    background-color: lightblue;
}

h2{
    color: darkred;
}

p{
    text-align: justify;
}

/**
    Exemplos utilizando classes e ids
*/

.destaque{
    color: red;
    font-weight: bold;
}

.sublinhado{
    text-decoration: underline;
}

#capitulo-1{
    color: blue;
    font-size: xx-large;
}